<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.unc.chongrui.lab2">

    <!-- How to change app icon?
        http://stackoverflow.com/questions/5350624
        default: android:icon="@mipmap/ic_launcher"
        change to folders like @drawable/icon_name mipmap/
        -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/lab2_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
